# ==============================
# 🔹 Python / Django
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
*.sqlite3

.env

# Media uploads
media/

# ==============================
# 🔹 ML Model Files
# ==============================
*.pkl
*.joblib

# ==============================
# 🔹 Logs
# ==============================
logs/
*.log

# ==============================
# 🔹 System / Editor
# ==============================
.vscode/
.idea/
.DS_Store
Thumbs.db